*{
    box-sizing: border-box;
}
body{
    padding:0px;
    margin: 0px;
}
header{
    background-color: #333;
    padding:10px;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 10;
   
}

html
{
    margin-top: 47px;
}

header > div {
    font-family: 'Anton', sans-serif;
    font-size:25px;
 
    display: inline-block;
   padding:0 10px;
   vertical-align:middle;
  
}
header > div a{
    text-decoration: none;
    color:#fff;
    
}
.main-nav{
    display: inline-block;
    width: calc( 90% - 45px);
    text-align: right;
    vertical-align: middle;
   
    
   
}
.menu-nav{
    display: inline-block;
    margin: 0;
  
  
}
.menu-nav li{
    list-style: none;
    display: inline-block;
 
}
 .item-nav a{
    text-decoration: none;
    color:#bbb;
    margin: 0px 10px;
    font-family: 'Noto Sans JP', sans-serif;

}
.item-nav a:hover,
.item-nav a:active
{
    border-bottom: 2px solid #fff;
  
}
.item-nav-button a{
    border:1px solid #fff;
    background-color: #bb0000;
    border-radius: 2px;
     font-weight: bold;
     padding:5px;
}
.item-nav-button a:hover,
.item-nav-button a:active{
    border:1px solid #fff;


    
}
.main-footer{
    background-color: #2e3e61;
    margin: 10px 0px 0px 0px;
    text-align: center;
}
.main-footer ul{
    list-style: none;
    margin: 0px;
    
}
.main-footer ul li{
    display: inline-block;
    padding:6px 15px;
}
.main-footer  a{
    color:#fff;
    text-decoration: none;
}
.brand-image{
   width: 50px;
  
}

.brand-image img{
    width: 100%;
    display: inline-block;
    
}
.backdrop{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 100;
    display: none;
    

}
/*modal style*/
.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-family: "Noto Sans JP",sans-serif;
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }

  .mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
    font-family: 'Noto Sans JP', sans-serif;
  }
  /*mobile style*/
  .mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
  }
  
  .mobile-nav__item {
    margin: 1rem 0;
  }
  
  .mobile-nav__item a {
    font-size: 1.5rem;
  }
  .mobile-nav a{
  text-decoration: none;
    color: #333;
  }
  .mobile-nav ul li:last-child a{
      background-color: #bb0000;
      padding:6px;
      color:#fff;
      border: 1px solid #ff5454;
      border-radius: 5px;

  }
  /*toggle button*/

  .toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button__bar {
    width: 100%;
    height: 0.1rem;
    background: #fff;
    display: block;
    margin: 0.6rem 0;
  }
  .open-model{

    display: block ;

  }
  