.testimonial__image-container{
    display: inline-block;
    width: 65%;
    vertical-align: middle;
}
.testimonial{
    
    margin-top: 20px;
}
.testimonial__image-container img {
    width: 100%;
    box-shadow: 3px 3px 5px rgba(0,0,0, 0.4)
}
.testimonial__info{
    display: inline-block;
    width: 34%;
    vertical-align: top;
    padding:30px;
}
.testimonial__name{
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    color:#e74c3c;
}
.clear-fix{
    clear: both;
}
.float-right{
    float: right;
}
.testimonial__subtitle{
    font-family: 'Roboto Mono', monospace;
    color:#333;

}
.testimonial__subtitle a {
    text-decoration: none;
    color: #c0392b;
}
.testimonial__text{
    font-family: 'Cantarell', sans-serif;

    
}